<h1> Create a new VendorSweet! </h1>

<% if @vendor_sweet.errors.any? %>
    <div id="error_explanation">
    <h2>
    <%= pluralize(@vendor_sweet.errors.count, "error") %>
    prohibited this VendorSweet from being saved:
    </h2>

    <ul>
    <% @vendor_sweet.errors.full_messages.each do |msg| %> 
        <li><%= msg %></li>
    <% end %>
    </ul>
    </div>
<% end %>

<%= form_for @vendor_sweet do |f| %>

  <%= f.label :vendor %>
  <%= f.collection_select :vendor_id, Vendor.all, :id, :name %>
  <%= f.label :sweet %>
  <%= f.collection_select :sweet_id, Sweet.all, :id, :name %>
  <%= f.label :price %>
  <%= f.text_field :price %>
  <%= f.submit %>

<% end %>