<h1>This is the vendorsweets page</h1>
<%= form_for @vendorsweet do |f| %>
  <%= f.label :vendor_id %><br>
  <%= f.collection_select :vendor_id, Vendor.all, :id, :name %><br>
  <%= f.collection_select :sweet_id, Sweet.all, :id, :name %><br>
  <%= f.text_field :sweet_id %><br>
  <%= f.label :price %><br>
  <%= f.text_field :price %><br>
  <%= f.submit %>
<% end %>